{:kotoba.app/id "cloud.itonami.isic-2733", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihnxqxtgeot26ivthv3yzyzmaajssmccq7zc4qk4rcpsqacwrlzrm", :kotoba.app/embed-url "ipfs://bafkreihnxqxtgeot26ivthv3yzyzmaajssmccq7zc4qk4rcpsqacwrlzrm", :published {:archive "https://kotobase.net/ipfs/bafkreihnxqxtgeot26ivthv3yzyzmaajssmccq7zc4qk4rcpsqacwrlzrm", :size 72977, :put-status 201, :get-status 200, :at "2026-08-15T13:49:20.071Z"}}
